body{
    background-image: url(/images/images.jpg);
    background-size: auto;
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    transform: translateY(10rem);
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Add hover effect for the submit button */
  input[type="submit"]:hover {
    background-color: black;
    /* color: white; */
  }

  @media screen and (max-width:700px) {
    nav{
        width:auto
    }
}
 
@media screen and (max-width:300px) {
    nav{
        width: auto;
    }
}